main {
  min-width: 340px;
  overflow: hidden;
  * {
    word-break: keep-all;
  }
}

.logo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.container {
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;

  @include responsive(T) {
    width: 768px;
    padding: 0 60px;
  }

  @include responsive(D) {
    width: 1200px;
    padding: 0 40px;
  }
}
