$text: white;
$text-point: #7a57ff;

$green: #22c58b;
$red: #f86d7d;

$blue-light: #ecf6fe;
$blue-dark: #3186c4;
$blue: #3da5f5;

$bg: #242434;
$bg-point: #783dff;
$bg-dark: #15151f;
$bg-차콜: #2e2d39;

$gradient-point: linear-gradient(to right, #a4f, #a643ff, #a543ff 14%, #6f3cff);
