$font-main: "Noto Sans KR", sans-serif;
$font-price: "Tahoma", sans-serif;

$font-size-10: 10px;
$line-height-10: 16px;
$letter-spacing-10: -0.01em;

$font-size-12: 12px;
$line-height-12: 16px;
$letter-spacing-12: -0.005em;

$font-size-13: 13px;
$line-height-13: 22px;
$letter-spacing-13: -0.01em;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-15: 15px;
$line-height-15: 24px;
$letter-spacing-15: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-20: 20px;
$line-height-20: 34px;
$letter-spacing-20: -0.01em;

$font-size-24: 24px;
$line-height-24: 36px;
$letter-spacing-24: -0.01em;

$font-size-28: 28px;
$line-height-28: 36px;
$letter-spacing-28: -0.01em;

$font-size-30: 30px;
$line-height-30: 44px;
$letter-spacing-30: -0.01em;

$font-size-32: 32px;
$line-height-32: 50px;
$letter-spacing-32: -0.01em;

$font-size-34: 34px;
$line-height-34: 48px;
$letter-spacing-34: -0.01em;

$font-size-40: 40px;
$line-height-40: 58px;
$letter-spacing-40: -0.01em;

$font-size-50: 50px;
$line-height-50: 70px;
$letter-spacing-50: -0.01em;

$font-size-60: 60px;
$line-height-60: 74px;
$letter-spacing-60: -0.01em;
