// constants
@import "./constants/colors";
@import "./constants/space";
@import "./constants//breakpoint";
@import "./constants/typography";

// base
@import "./base/normalize";
@import "./base/global";

// mixin
@import "./mixins/flexbox";
@import "./mixins/position";
@import "./mixins/responsive";
@import "./mixins/textstyle";
@import "./mixins/gradient";
@import "./mixins/spacing";

// componnet
@import "./components/button";
@import "./components/header";

// layout
@import "./layouts/_section.scss";
@import "./layouts/_section1.scss";

* {
  color: $text;
}

.container {
  @include gradient-point();
  @include responsive(T) {
    background-color: gold;
  }

  @include responsive(D) {
    background-color: gainsboro;
  }
}
