// constants
@import "./constants/colors";
@import "./constants/space";
@import "./constants//breakpoint";
@import "./constants/typography";

// base
@import "./base/normalize";
@import "./base/global";

// mixin
@import "./mixins/flexbox";
@import "./mixins/position";
@import "./mixins/responsive";
@import "./mixins/textstyle";
@import "./mixins/gradient";
@import "./mixins/spacing";

// componnet
@import "./components//common";
@import "./components/button";
@import "./components/header";

// layout
@import "./layouts/_section.scss";
@import "./layouts/_section1.scss";
@import "./layouts/_section2.scss";
@import "./layouts/_section3.scss";
@import "./layouts/_section4.scss";
@import "./layouts/_section5.scss";
@import "./layouts/_section6.scss";
@import "./layouts/_section7.scss";
@import "./layouts/_section8.scss";
@import "./layouts/_section9.scss";

* {
  color: $text;
}

body {
  background-color: $bg;
}
