.section__5 {
  padding: 100px 0;
  &__title {
    display: flex;
    margin-bottom: 20px;

    h2 {
      @include text-style(20);
      position: relative;

      &:not(:last-of-type) {
        margin-right: 26px;
      }

      &.underline {
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0.75em;

          display: block;
          width: calc(100% + 10px);
          height: 0.75em;
          transform: translateX(-50%);
          z-index: -1;
          background-image: $gradient-point;
        }
      }
    }
  }

  p {
    @include text-style(15);
    margin-bottom: 30px;
  }

  &__img {
    padding: 0 24px;
    img {
      width: 100%;
    }
  }
}

@include responsive(T) {
  .section__5 {
    padding: 200px 0;

    &__title {
      h2 {
        @include text-style(28);

        &:not(:last-of-type) {
          margin-right: 40px;
        }

        &.underline {
          &::before {
            height: 0.6em;
          }
        }
      }
      margin-bottom: 30px;
    }

    p {
      @include text-style(24);
      line-height: 40px;
      margin-bottom: 40px;
    }

    &__img {
      padding: 0 24px;
      img {
        width: 100%;
      }
    }
  }
}

@include responsive(D) {
  .section__5 {
    p {
      margin-bottom: 80px;
    }

    &__img {
      width: 830px;
      height: 620px;
      margin: 0 auto;
      padding-top: 0;
    }
  }
}
