.section__3 {
  background-color: $bg;
  padding-bottom: 40px;

  &__title {
    position: relative;
    top: -180px;
    margin-bottom: -100px;
    h2 {
      @include text-style(24);
      text-align: center;
      margin-bottom: 22px;
    }
  }
}

.section__3__img {
  img {
    width: 100%;
  }
}

.section__3__subtitle {
  &__label {
    @include text-style(16);
    font-weight: bold;
    display: flex;
    align-items: center;
    color: $text-point;
    margin-bottom: 20px;
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    @include text-style(20);
    margin-bottom: 32px;
  }

  &__img {
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    &.img1 {
      padding-top: 82.32%;
      background-image: url("/images/section3/img1.png");
    }

    &.img2 {
      padding-top: 59.85%;
      background-image: url("/images/section3/img2.png");
    }

    &.img3 {
      padding-top: 72.5%;
      background-image: url("/images/section3/img3.png");
    }

    &.img4 {
      padding-top: 77.85%;
      background-image: url("/images/section3/img4.png");
    }
  }
}

@include responsive(T) {
  .section__3 {
    padding-bottom: 0;
    margin-bottom: -60px;
    &__title {
      position: relative;
      top: -340px;

      h2 {
        @include text-style(40);
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }

  .section__3__subtitle {
    position: relative;
    top: -140px;
    &__label {
      @include text-style(20);
      margin-bottom: 20px;
    }

    .icon {
      width: 25px;
      height: 25px;
    }

    h3 {
      @include text-style(28);
      line-height: 46px;
    }

    &__img {
      margin-bottom: 180px;
      margin: 0;
      margin-right: auto;

      &.img1 {
        width: 426px;
      }

      &.img2 {
        width: 586px;
      }

      &.img3 {
        width: 483px;
      }

      &.img4 {
        width: 450px;
      }
    }
  }
}

@include responsive(D) {
  .section__3 {
    padding-bottom: 0;
    margin-bottom: -60px;

    &__title {
      position: relative;
      top: -440px;
    }
  }

  .section__3__img {
    width: 1013px;
    height: 591px;
    margin: 0 auto;
    padding-top: 0;
  }

  .section__3__subtitle {
    position: relative;
    top: -240px;
    display: flex;
    margin-bottom: 120px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    &__label {
      @include text-style(20);
      margin-bottom: 20px;
    }

    .icon {
      width: 25px;
      height: 25px;
    }

    h3 {
      @include text-style(34);
      line-height: 58px;
    }

    &__text {
      padding: 40px 60px;
      flex: 1;
    }

    &__img {
      padding: 40px 60px;
      flex: 1;
      margin-bottom: 0;
      background-position: center center;

      &.img1 {
        background-size: 340px;
        padding-top: 0;
      }

      &.img2 {
        background-size: 447px;
        padding-top: 0;
      }

      &.img3 {
        background-size: 414px;
        padding-top: 0;
      }

      &.img4 {
        background-size: 408px;
        padding-top: 0;
      }
    }
  }
}
