.section__5 {
  padding: 170px 0;
  &__title {
    display: flex;
    margin-bottom: 48px;

    h2 {
      @include text-style(20);
      position: relative;

      &:not(:last-of-type) {
        margin-right: 26px;
      }

      &.underline {
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0.8em;

          display: block;
          width: calc(100% + 20px);
          height: 1em;
          transform: translateX(-50%);
          z-index: -1;
          background-image: $gradient-point;
        }
      }
    }
  }

  p {
    @include text-style(15);
    margin-bottom: 40px;
  }

  &__img {
    background-color: red;
    height: 220px;
  }
}
