.section__9 {
  padding-top: 95px;
  background-color: #01153d;

  &__title {
    position: relative;
    top: 25px;
    h2 {
      @include text-style(30);
      text-align: center;
      margin-bottom: 20px;
    }

    .text__logo {
      display: block;
      width: 129.6px;
      height: 20.5px;
      margin: 0 auto;
    }
  }

  &__img {
    width: 100%;
    background-image: url("/images/bg/img_end.png");
    padding-top: 75.73%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@include responsive(T) {
  .section__9 {
    &__title {
      h2 {
        @include text-style(60);
        text-align: center;
        margin-bottom: 48px;
      }

      .text__logo {
        display: block;
        width: 37.11vw;
        height: auto;
      }
    }
  }
}

@include responsive(T) {
  .section__9 {
    padding-top: 200px;
    &__title {
      position: relative;

      h2 {
        line-height: 80px;
        margin-bottom: 40px;
      }

      .text__logo {
        width: 366px;
      }
    }
  }
}
