.section__8 {
  padding: 89px 0 130px 0;
  background-color: $bg-차콜;

  &__title {
    margin-bottom: 158px;
    h2 {
      @include text-style(34);
      text-align: center;
      margin-bottom: 50px;
    }

    p {
      @include text-style(18);
      text-align: center;
    }
  }

  .about__container {
    .about {
      &:not(:last-of-type) {
        margin-bottom: 104px;
      }
      &__img {
        padding-top: 66.67%;
        margin-bottom: 43px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;

        &.img1 {
          background-image: url("/images/section8/img_data.png");
        }
        &.img2 {
          background-image: url("/images/section8/img_game.png");
        }
      }

      &__text {
        h5 {
          @include text-style(20);
          margin-bottom: 30px;
        }
        p {
          @include text-style(15);
        }
      }
    }
  }
}

@include responsive(T) {
  .section__8 {
    padding: 220px 0 180px 0;

    &__title {
      margin-bottom: 158px;
      h2 {
        @include text-style(50);
        margin-bottom: 70px;
      }

      p {
        @include text-style(32);
      }
    }

    .about__container {
      .about {
        &:not(:last-of-type) {
          margin-bottom: 200px;
        }
        &__img {
          margin-bottom: 56px;
        }

        &__text {
          h5 {
            @include text-style(32);
            margin-bottom: 40px;
          }
          p {
            @include text-style(24);
            line-height: 40px;
          }
        }
      }
    }
  }
}

@include responsive(D) {
  .section__8 {
    &__title {
      margin-bottom: 120px;
      h2 {
        margin-bottom: 60px;
      }
    }

    .about__container {
      display: flex;
      > div:first-of-type {
        padding-right: 40px;
      }
      .about {
        &:not(:last-of-type) {
          margin-bottom: 0;
        }
        &__img {
          margin-bottom: 60px;
        }
      }
    }
  }
}
