.section__6 {
  background-color: $bg-dark;
  padding: 100px 0;

  &__title {
    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      span {
        display: inline-block;
        line-height: 1;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      .text__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145.9px;
        height: 23.1px;

        img {
          margin-right: 8px;
        }
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    img {
      display: block;
      width: 14vw;
      height: 14vw;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

@include responsive(T) {
  .section__6 {
    padding: 150px 0 140px 0;

    &__title {
      h2 {
        margin-bottom: 52px;

        span {
          @include text-style(32);
          display: inline-block;
          line-height: 1;

          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }

        .text__logo {
          width: 200px;
          height: auto;
        }
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      img {
        display: block;
        width: 14vw;
        height: 14vw;

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}

@include responsive(D) {
  .section__6 {
    &__title {
      h2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;

        span {
          &:not(:last-of-type) {
            margin-bottom: 0;
          }
        }

        .text__logo {
          margin: 0 12px;
          width: auto;
          height: auto;

          img {
            width: 200px;
          }
        }
      }
    }

    &__img {
      img {
        display: block;
        width: 100px;
        height: 100px;

        &:not(:last-of-type) {
          margin-right: 40px;
        }
      }
    }
  }
}
