.section__4 {
  padding: 60px 0;
  background-image: $gradient-point;

  &__title {
    h2 {
      @include text-style(24);
      text-align: center;
    }
  }
}

@include responsive(T) {
  .section__4 {
    padding: 175px 0;

    &__title {
      h2 {
        @include text-style(40);
      }
    }
  }
}

@include responsive(D) {
  .section__4 {
    padding: 155px 0;

    &__title {
      h2 {
        @include text-style(40);
      }
    }
  }
}
