.section__7 {
  &__title {
    height: 151vw;
    background-image: url("/images/section7/img1.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    h2 {
      @include text-style(34);
      display: flex;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin-bottom: 30px;

    &.img2 {
      background-image: url("/images/section7/img2.png");
      padding-top: 56.38%;
      margin-bottom: 36px;
    }

    img {
      width: 100%;
    }
  }

  &__desc__container {
    padding: 80px 0;
  }

  &__desc {
    &.mb-0 {
      margin-bottom: 0;
    }

    margin-bottom: 140px;
    h4 {
      @include text-style(20);
      margin-bottom: 30px;
    }

    p {
      @include text-style(15);
    }
  }
}

@include responsive(T) {
  .section__7 {
    padding: 0;
    background-color: #181623;

    &__title {
      height: 1000px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 634px 1000px;

      h2 {
        @include text-style(60);
        line-height: 75px;
      }
    }

    &__desc__container {
      padding: 140px 0 200px;
    }

    &__img {
      margin-top: 200px;
      margin-bottom: 40px;
    }

    &__desc {
      margin-bottom: 100px;
      &.mb-0 {
        margin-bottom: 0;
      }

      h4 {
        @include text-style(32);
        margin-bottom: 30px;
      }

      p {
        @include text-style(24);
        line-height: 40px;
      }
    }
  }
}

@include responsive(D) {
  .section__7 {
    &__title {
      height: 1000px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      background-image: url("/images/section7/img1_d.png");

      h2 {
        @include text-style(60);
        line-height: 75px;
      }
    }

    &__img {
      &.img1 {
        margin: 0 auto;
        width: 884px;
        height: 924px;
        padding-top: 0;
        margin-bottom: 140px;
      }

      &.img2 {
        margin: 0 auto;
        width: 1200px;
        height: 676px;
        padding-top: 0;
        margin-bottom: 100px;
      }
    }

    &__desc {
      &.mb-0 {
        margin-bottom: 0;

        > h4 {
          white-space: nowrap;
          margin-bottom: 30px;
          font-size: 50px;
        }
      }

      margin-bottom: 240px;
    }
    &__img {
      margin-top: 0;
    }
  }

  .section__7__desc__container {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 50%;
      flex: 1 1 50%;

      &:nth-of-type(1) {
        padding-right: 95px;
      }

      &:nth-of-type(3) {
        width: 100%;
        flex: 1 0 100%;
      }

      &:nth-of-type(4) {
        width: 100%;
        flex: 1 0 100%;
      }
    }
  }
}
