.section__7 {
  padding: 86px 0;

  &__title {
    h2 {
      @include text-style(28);
    }
    margin-bottom: 42px;
  }

  &__img {
    display: block;
    &.img1 {
      background-color: gold;
      height: 367px;
      margin-bottom: 92px;
    }

    &.img2 {
      background-color: gold;
      height: 203px;
      margin-bottom: 36px;
    }
  }

  &__desc {
    &.mb-0 {
      margin-bottom: 0;
    }

    margin-bottom: 140px;
    h4 {
      @include text-style(20);
      margin-bottom: 30px;
    }

    p {
      @include text-style(15);
    }
  }
}
