.section__2 {
  height: 566px;
  background-color: #5f33ff;
  padding-top: 80px;

  &__title {
    h2 {
      @include text-style(34);
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      @include text-style(20);
    }
  }
}

@include responsive(T) {
  .section__2 {
    padding-top: 140px;
    height: 1030px;

    &__title {
      h2 {
        @include text-style(50);
        margin-bottom: 44px;
      }

      p {
        @include text-style(32);
      }
    }
  }
}

@include responsive(D) {
  .section__2 {
    padding-top: 188px;
  }
}
