@mixin text-style-10($color: false) {
  font-size: $font-size-10;
  line-height: $line-height-10;
  letter-spacing: $letter-spacing-10;
}

@mixin text-style-12($color: false) {
  font-size: $font-size-12;
  line-height: $line-height-12;
  letter-spacing: $letter-spacing-12;
}

@mixin text-style-13($color: false) {
  font-size: $font-size-13;
  line-height: $line-height-13;
  letter-spacing: $letter-spacing-13;
}

@mixin text-style-14($color: false) {
  font-size: $font-size-14;
  line-height: $line-height-14;
  letter-spacing: $letter-spacing-14;
}

@mixin text-style-15($color: false) {
  font-size: $font-size-15;
  line-height: $line-height-15;
  letter-spacing: $letter-spacing-15;
}

@mixin text-style-16($color: false) {
  font-size: $font-size-16;
  line-height: $line-height-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-18($color: false) {
  font-size: $font-size-18;
  line-height: $line-height-18;
  letter-spacing: $letter-spacing-18;
}

@mixin text-style-20($color: false) {
  font-size: $font-size-20;
  line-height: $line-height-20;
  letter-spacing: $letter-spacing-20;
}

@mixin text-style-24($color: false) {
  font-size: $font-size-24;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-24;
}

@mixin text-style-28($color: false) {
  font-size: $font-size-28;
  line-height: $line-height-28;
  letter-spacing: $letter-spacing-28;
}

@mixin text-style-30($color: false) {
  font-size: $font-size-30;
  line-height: $line-height-30;
  letter-spacing: $letter-spacing-30;
}

@mixin text-style-32($color: false) {
  font-size: $font-size-32;
  line-height: $line-height-32;
  letter-spacing: $letter-spacing-32;
}

@mixin text-style-34($color: false) {
  font-size: $font-size-34;
  line-height: $line-height-34;
  letter-spacing: $letter-spacing-34;
}

@mixin text-style-40($color: false) {
  font-size: $font-size-40;
  line-height: $line-height-40;
  letter-spacing: $letter-spacing-40;
}

@mixin text-style-50($color: false) {
  font-size: $font-size-50;
  line-height: $line-height-50;
  letter-spacing: $letter-spacing-50;
}

@mixin text-style-60($color: false) {
  font-size: $font-size-60;
  line-height: $line-height-60;
  letter-spacing: $letter-spacing-60;
}

@mixin text-style($size, $color: false) {
  @if ($size == 10) {
    @include text-style-10;
  }
  @if ($size == 12) {
    @include text-style-12;
  }
  @if ($size == 13) {
    @include text-style-13;
  }
  @if ($size == 14) {
    @include text-style-14;
  }
  @if ($size == 15) {
    @include text-style-15;
  }
  @if ($size == 16) {
    @include text-style-16;
  }
  @if ($size == 18) {
    @include text-style-18;
  }
  @if ($size == 20) {
    @include text-style-20;
  }
  @if ($size == 24) {
    @include text-style-24;
  }
  @if ($size == 28) {
    @include text-style-28;
  }
  @if ($size == 30) {
    @include text-style-30;
  }

  @if ($size == 32) {
    @include text-style-32;
  }

  @if ($size == 34) {
    @include text-style-34;
  }

  @if ($size == 40) {
    @include text-style-40;
  }

  @if ($size == 50) {
    @include text-style-50;
  }

  @if ($size == 60) {
    @include text-style-60;
  }

  @if (type-of($color) == color) {
    color: $color;
  }
}
